SECRET_KEY=

KAFKA_SERVER=
KAFKA_TOPIC=

REDIS_HOST=
REDIS_PORT=

PG_HOST=
PG_PORT=
PG_NAME=
PG_USER=
PG_PASSWORD=

MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=
MONGO_COLLECTION=

SPARK_HOST=
SPARK_PORT=

GATEWAY_PORT=
WORKER_PORT=
CLIENT_PORT=

GATEWAY_URL=
PROCESSOR_URL=
WORKER_URL=

GRPC_HOST=
